<launch>
    <arg name="no"      default="1"/>
    <arg name="project" default="lio_sam_multi_robots"/>
    <arg name="robot0"	default="jackal0"/>
    <arg name="robot1"	default="jackal1"/>
    <arg name="robot2"	default="jackal2"/>

    <!-- Parameters parking dataset-->
    <rosparam file="$(find lio_sam_multi_robots)/config/params.yaml" command="load" />
    <rosparam file="$(find lio_sam_multi_robots)/src/DiSCo-SLAM/config/mapfusion.yaml" command="load" />
    
    <!-- Parameters kitti-08 dataset-->
<!--     <rosparam file="$(find lio_sam_multi_robots)/config/params_k.yaml" command="load" />  &ndash;&gt;-->
<!--     <rosparam file="$(find lio_sam_multi_robots)/src/DiSCo-SLAM/config/mapfusion_k.yaml" command="load" />-->

    <!--- LOAM robot 0 -->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_loam.launch" >
        <arg name="robot" value="$(arg robot0)"/>
        <arg name="id1" value="$(arg robot1)"/>
        <arg name="id2" value="$(arg robot2)"/>
        <arg name="no" value="$(arg no)"/>
    </include>

    <!--- LOAM robot 1 -->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_loam.launch" >
        <arg name="robot" value="$(arg robot1)"/>
        <arg name="id1" value="$(arg robot0)"/>
        <arg name="id2" value="$(arg robot2)"/>
        <arg name="no" value="$(arg no)"/>
    </include>

    <!--- LOAM robot 2 -->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_loam.launch" >
        <arg name="robot" value="$(arg robot2)"/>
        <arg name="id1" value="$(arg robot0)"/>
        <arg name="id2" value="$(arg robot1)"/>
        <arg name="no" value="$(arg no)"/>
      </include>

    <!--- Robot State TF -->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam_multi_robots)/launch/include/module_rviz.launch" />

<!--    Run Communication Simulator-->
<!--    <node pkg="$(arg project)" name= "$(arg project)_listener" type="listener.py" output="screen"/>-->



</launch>


